*{
      margin: 0px;
      padding: 0px;
    }
    body{
    background-color: #F3E5D8;
    }
    html{
        font-size: 16px;
    }
    .outer{
      max-height: 100%;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
    }
   .container{
    height: 100%;
    width: 30vw;
    margin: 18px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
  .container h1{
    text-align: left;
    padding-top: 5px;
    padding-left: 10px ;
    font-family: "young serif";
    font-weight: 400;
    font-size: 2rem;
  }
  .container p{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1rem;
  }
img{
  height: 25vh;
  width: 28vw;
  object-fit: cover;
  align-self: center;
  margin-top: 15px;
  border-radius: 10px;
}
.preparation{
  
  background-color: #fbe3fc;
  height: 100%;
  width: 95%;
  margin: auto;
  margin-top: 0.5em;
  /* margin-left: 1vw;
  margin-top: 3vh; */
  border-radius: 5px;

}
.preparation li{
  padding-top: 0.5vh;
  margin-left: 25px;
  margin-right: auto;
  list-style-type: disc;
  font-size: 1rem;
}
.preparation h3{
  color: darkmagenta;
  padding-left: 5px;
  
}
.ingridents{
  margin-top: 3vh;
  margin-left: 25px;
  margin-right: auto;
  padding-bottom: 2vh;
  border-bottom: 2px solid lightgrey;
}
.ingridents h3{
  padding-bottom: 1.5vh;
}
.ingridents li{
  margin-left: 20px;
  padding-top: 0.5vh;
}
.instruction{
  margin-left: 25px;
  margin-right: 1em;
  margin-top: 2vh;
  border-bottom: 2px solid lightgray;
  padding-bottom: 2vh;
  
  
}
.instruction li{
  margin-left: 20px;
  padding-bottom: 0.5vh;
}
.instruction h3{
  padding-bottom: 2vh;
}
h3{
  color: brown;
}
.nutritiontable{
  margin-top: 2vh;
  margin-left: 25px;
  margin-right: 2em;
}
table{
  width: 100%;
  padding-top: 2vh;
  margin-bottom: 2vh;
}
td{
  padding: 1vh;
  text-align: left;
  border-bottom: 2px solid lightgray;
}
.tablecolour{
  color: brown;
}
@media(max-width:430px){
  body{
    background-color: #F3E5D8;;
  }
  .outer{
    width: 98%;
  }
  .container{
    width: 95%;
  }
 img{
    width: 100%;
    margin: 0;
  }
  .container h1{
    font-size: 8vw;
  }
  .container p{
    font-size: 4vw;
    font-family: "outfit-medium";
  }
  .preparation{
    width: 95%;
    padding: 0.8em 0;
  }
  .preparation li{
    font-size: 4vw;
  }

  
}
@media (min-width:440px) and (max-width:900px){
    .container{
        width: 60%;
    }
    img{
        width: 95%;
    }
    .preparation{
        padding: 1em 0;
    }
}